default:
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/gradle:9-jdk17

stages:
  - test
  - build
  - pack

# Check that no files with CRLF are in the repo
check:line-endings:
  image: dr.rechenknecht.net/bauhelfer/container/main/build-environment
  stage: test
  needs: []
  script:
    - '! find . -not -type d -not -iname "gradlew.bat" -exec file "{}" ";" | grep CRLF'

lint-keycloak-api:
  stage: test
  needs: []
  script:
    - cd keycloak
    - gradle checkstyleMain

build-keycloak-api:
  stage: build
  needs: []
  script:
    - cd keycloak
    - gradle jar
  artifacts:
    paths:
      - keycloak/build/libs/*.jar
    expire_in: 1 month

build-frontend:
  stage: build
  image: ${CI_DEPENDENCY_PROXY_DIRECT_GROUP_IMAGE_PREFIX}/library/node:22
  needs: []
  script:
    - cd frontend
    - corepack enable
    - yarn install
    - yarn lint
    - yarn build
  artifacts:
    paths:
      - frontend/dist
    expire_in: 1 month

docker-frontend:
  stage: pack
  image: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:latest
  tags:
    # Use a privileged runner for building container images
    - privileged
  services:
    - name: ${CI_DEPENDENCY_PROXY_GROUP_IMAGE_PREFIX}/docker:dind
      alias: docker
  variables:
    # This will instruct Docker not to start over TLS.
    DOCKER_TLS_CERTDIR: ""

    IMAGE_TAG_ENV: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/frontend:$CI_PIPELINE_IID
    IMAGE_TAG_GENERAL: $CI_REGISTRY_IMAGE/$CI_COMMIT_REF_SLUG/frontend:latest
  needs:
    - job: build-frontend
      artifacts: true
  before_script:
    - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  script:
    - cd frontend
    - docker build --build-arg RELEASE_NAME -t "${IMAGE_TAG_GENERAL}" .
    - docker push "${IMAGE_TAG_GENERAL}"
    - docker build --build-arg RELEASE_NAME -t "${IMAGE_TAG_ENV}" .
    - docker push "${IMAGE_TAG_ENV}"
    - echo "Pushed to ${IMAGE_TAG_ENV}"
    - echo "Pushed to ${IMAGE_TAG_GENERAL}"
