services:
  # Fixing ownership of Docker volume
  keycloak-change-db-vol-ownership:
    image: debian:trixie
    user: root
    volumes:
      - keycloak-db:/tmp/change-ownership
    command: chown -R 1000:1000 /tmp/change-ownership

  keycloak:
    image: quay.io/keycloak/keycloak:26.4.1
    container_name: self-service-clients-kc-test
    environment:
      DB_VENDOR: h2
      KC_LOG_LEVEL: "WARN"
      KC_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "notSecure"
    volumes:
      - keycloak-db:/opt/keycloak/data/h2
      - ../keycloak/build/libs:/opt/keycloak/providers:ro
    ports:
      - "127.0.0.1:8080:8080"
    command: ["start-dev"]
    depends_on:
      keycloak-change-db-vol-ownership:
        condition: service_completed_successfully

volumes:
  keycloak-db:
